*.rel
.svn
.settings
.cproject
.project
ex*.asm
ex*.rom
ex*.lst
ex*.lk
ex*.map
ex*.noi
ex*.sym
ex*.ihx
ex*.ddmem
ex*.noitmp
ex*.sdccsym
3d.asm
3d.lst
3d.sym
gfx.asm
gfx.lst
gfx.sym
heap.s
line.asm
line.lst
line.sym
sdcc/crt/*.rel
